@charset "UTF-8";
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

@media screen and (max-width: 1600px) {
  html {
    overflow-x: hidden;
  }
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--accent-white-color);
  letter-spacing: 0.03em;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 480px) and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 480px) and (min-width: 768px) and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header-section {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .header-section {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.text {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  color: #757575;
}

.white-text {
  color: #ffffff;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.mg-zero {
  margin-top: 0;
  margin-bottom: 0px;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect 0 0 0 0;
  overflow: hidden;
}

.logo {
  padding: 16px 0;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.17;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.accent-color {
  color: #2196f3;
}

header {
  border-bottom: 1px solid lightgray;
}

.nav-and-contacts {
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .menu-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 84px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .menu-nav {
    margin-right: 305px;
  }
}

.flex-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .flex-header {
    height: 80px;
  }
}

@media screen and (max-width: 767px) {
  .flex-nav {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
    padding: 60px 0;
    background-color: #ececec;
    -webkit-transform: translateY(-250%);
            transform: translateY(-250%);
    -webkit-transition: -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .flex-nav.is-open {
    display: block;
    -webkit-transform: translateY(57%);
            transform: translateY(57%);
    -webkit-transition: -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .flex-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    font-size: 18px;
    line-height: 1.3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) and (min-width: 768px) {
  .contacts {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item:first-child {
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .flex-nav .contacts {
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.btn-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0px;
  background-color: transparent;
}

.btn-menu:hover .icon-cross,
.btn-menu:focus .icon-cross,
.btn-menu:hover .icon-menu,
.btn-menu:focus .icon-menu {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .btn-menu {
    display: none;
  }
}

.btn-menu .icon-cross {
  display: none;
}

.btn-menu.is-open .icon-menu {
  display: none;
}

.btn-menu.is-open .icon-cross {
  display: block;
}

@media screen and (max-width: 767px) {
  .menu-nav__item {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) {
  .menu-nav__item:last-child {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .menu-nav__link {
    font-size: 18px;
    line-height: 1.16;
    padding: 32px 0px;
  }
}

@media screen and (min-width: 768px) {
  .menu-nav__item:not(:last-child),
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

.menu-nav__link {
  padding: 32px 0px;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link {
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
  }
}

.menu-nav__link:hover,
.menu-nav__.link:focus,
.contacts__link:hover,
.contacts__link:focus,
.link:hover .icon-address,
.link:focus .icon-address {
  color: #2196f3;
}

.menu-nav .link.current {
  position: relative;
  color: #2196f3;
}

.menu-nav .link.current::after {
  content: "";
  position: absolute;
  bottom: 22px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-nav .link.current::after {
    bottom: 1px;
  }
}

.contasts__icon--post {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.contacts__icon--tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.wrap-hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/monbile/hero-img@1x.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/monbile/hero-img@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .wrap-hero {
    background-image: url("../images/mobile/hero-img@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .wrap-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/tablet/banner-tab.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/banner-tab.jpg");
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .wrap-hero {
    background-image: url("../images/tablet/banner-tab@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .wrap-hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/banner.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/banner.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .wrap-hero {
    background-image: url("../images/banner@x2.jpg");
  }
}

.wrap-hero .banner__title {
  max-width: 360px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .wrap-hero .banner__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.37;
  }
}

.button {
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  font-weight: 700;
  color: #ffffff;
  background-color: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  opacity: 1;
  z-index: 2;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-windows {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 450px;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 479px) {
  .modal-windows {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 1199px) {
  .modal-windows {
    margin-bottom: 10px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-windows {
    width: 528px;
  }
}

.backdrop.is-hidden .modal-windows {
  -webkit-transform: translate(-50%, -50%) scale(0.7);
  transform: translate(-50%, -50%) scale(0.7);
}

.btn-modal-close {
  position: absolute;
  top: 2.5px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
}

.icon-close {
  width: 18px;
  height: 18px;
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-close:hover .icon-close {
  fill: #2196f3;
}

.form {
  padding: 40px;
}

.form__caption {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  color: #212121;
}

@media screen and (max-width: 1199px) {
  .form__caption {
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .form__caption {
    line-height: 1.5;
  }
}

.form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input {
  margin-bottom: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.form__input + .form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-25%);
  transform: translateY(-25%);
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .form__icon,
.form__input:focus,
.form__comment:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.form__comment {
  margin-bottom: 25px;
  padding-left: 16px;
  padding-top: 12px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.label-check {
  margin-bottom: 34px;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .label-check {
    font-size: 12px;
  }
}

/* Кастомный чекбокс  */
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect 0 0 0 0;
  overflow: hidden;
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  margin-right: 3px;
  border: 2px solid #212121;
  border-radius: 2px;
  vertical-align: middle;
}

@media screen and (min-width: 1200px) {
  .checkbox__icon {
    margin-left: 14px;
  }
}

.checkbox:checked + .checkbox__icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-size: contain;
  background-origin: border-box;
}

.form__policy {
  color: #2196f3;
}

.button-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px;
}

.wrap-why-we,
.wrap-our-team,
.wrap-regular-costumers,
.wrap-my-project {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .wrap-why-we,
  .wrap-our-team,
  .wrap-regular-costumers,
  .wrap-my-project {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.wrap-about-us {
  display: none;
}

@media screen and (min-width: 1200px) {
  .wrap-about-us {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.wrap-our-team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .why-we {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .why-we {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .why-we__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .why-we__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .why-we__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .why-we__item {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 4);
        flex-basis: calc((100% - 3 * 30px) / 4);
  }
  .why-we__item:not(:last-child) {
    margin-right: 30px;
  }
}

.why-we__item::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  border: 1px solid #f5f4fa;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}

.why-we__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .why-we__subtitle {
    text-align: center;
  }
}

.icon-antenna::before {
  background-image: url("../images/antenna.svg");
}

.icon-clock::before {
  background-image: url("../images/clock.svg");
}

.icon-diagram::before {
  background-image: url("../images/diagram.svg");
}

.icon-astronaut::before {
  background-image: url("../images/astronaut.svg");
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us__item {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  position: relative;
}

.about-us .item:last-child {
  margin-right: 0;
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.overlay__caption {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.our-team {
  text-align: center;
}

@media screen and (min-width: 767px) {
  .our-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 767px) and (min-width: 767px) and (max-width: 1199px) {
  .our-team {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.our-team__item {
  padding-bottom: 24px;
  background-color: #f5f4fa;
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .our-team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .our-team__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .our-team__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__item {
    padding-bottom: 30px;
  }
  .our-team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.our-team .our-team__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .our-team .our-team__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.our-team .info-team {
  background-color: #ffffff;
}

.our-team .info-team__name {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.13;
  color: var(--header-text-color);
}

.our-team .info-team__duties {
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 1.2;
  color: var(--primary-text-color);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: all var(--transition);
  transition: all var(--transition);
}

.social__link:hover, .social__link:focus {
  background-color: #2196f3;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #ffffff;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  height: 20px;
  width: 20px;
  fill: #afb1b8;
}

.list-regular-costumers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
  padding-left: 0;
}

@media screen and (max-width: 1199px) {
  .list-regular-costumers {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.list-regular-costumers__item {
  margin: 15px;
  -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
      flex-basis: calc((100% - 2 * 30px) / 2);
}

@media screen and (min-width: 768px) {
  .list-regular-costumers__item {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
        flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.logo-clients-link {
  max-width: 210px;
  color: #afb1b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-clients-link:hover, .logo-clients-link:focus {
  color: #2196f3;
  border: solid #2196f3 1px;
}

.logo-clients-link:hover .icon-logo {
  fill: #2196f3;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .logo-clients-link {
    max-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-clients-link {
    width: 170px;
  }
}

.icon-logo-1 {
  width: 45px;
}

.icon-logo-2 {
  width: 40px;
}

.icon-logo-3 {
  width: 41px;
}

.icon-logo-4 {
  width: 80px;
}

.icon-logo-5 {
  width: 59px;
}

.icon-logo-6 {
  width: 88.5px;
}

.icon-logo {
  fill: currentColor;
}

.radio-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .radio-btn {
    margin-bottom: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .radio-btn .item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
  .radio-btn .item:not(:last-child) {
    margin-right: 8px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .radio-btn {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 767px) {
  .radio-btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .radio-btn {
    margin-bottom: 50px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.radio-btn__item:not(:first-child) {
  margin-left: 8px;
}

.btn {
  padding: 6px 22px;
  border: none;
  min-width: 73px;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: #212121;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.portfolio .thumb {
  position: relative;
  overflow: hidden;
}

.overlay-portfolio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover .overlay-portfolio {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.text-overlay-portfolio {
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.desc-portfolio {
  margin-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.desc-portfolio__title {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.desc-portfolio__text {
  line-height: 1.88;
  color: #757575;
}

.portfolio__item {
  border: 1px solid #eeeeee;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 30px * 2) / 2);
        flex-basis: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 30px * 3) / 3);
        flex-basis: calc((100% - 30px * 3) / 3);
  }
}

.portfolio-item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.wrap-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (max-width: 1199px) {
  .footer-flexbox {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-flexbox {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 1199px) {
  .footer-address {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address {
    margin-right: 70px;
  }
}

.grid-contacts .link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.grid-contacts .link:hover,
.grid-contacts .link:focus {
  color: #2196f3;
}

.logo-footer-marg {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;
  padding: 0;
}

.address-marg {
  margin-bottom: 9px;
  margin-top: 0;
}

.address {
  line-height: 1.46;
}

.call-to-action {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.social-link-footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-link-footer .social__icon {
  fill: #ffffff;
}

@media screen and (max-width: 1199px) {
  .sec-action {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .sec-action {
    margin-right: 93px;
  }
}

.action-mail {
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 479px) {
  .action-mail {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .action-mail {
    width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .action-mail {
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .action-mail {
    width: 358px;
  }
}

.action-mail::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.action-mail:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.action-mail::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.action-mail::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.icon-telegramm {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
}

.btn-footer {
  padding-left: 28px;
  padding-right: 29px;
}

@media screen and (min-width: 1200px) {
  .btn-footer .btn-footer {
    margin-left: 12px;
  }
}
/*# sourceMappingURL=main.css.map */