.logo {
    margin-right: 93px;
    font-family: $font-style-logo;
    font-size: 26px;
    line-height: 1.2;
    color: $accent-black-color;

    .accent-color {
        color: $accent-blue-color;
      }
}
  
 