.list-regular-costumers {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -15px;
  padding-left: 0;

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

.list-regular-costumers__item {
  margin: 15px;
  flex-basis: calc((100% - 2 * 30px) / 2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.logo-clients-link {
  max-width: 210px;
  color: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  -webkit-transition: all $transition;
  transition: all $transition;

  &:hover,
  &:focus {
    color: $accent-blue-color;
    border: solid $accent-blue-color 1px;
  }

  &:hover .icon-logo {
    fill: $accent-blue-color;
    -webkit-transition: all $transition;
    transition: all $transition;
  }

  @media screen and (min-width: 768px) {
    max-width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.icon-logo-1 {
  width: 45px;
}

.icon-logo-2 {
  width: 40px;
}

.icon-logo-3 {
  width: 41px;
}

.icon-logo-4 {
  width: 80px;
}

.icon-logo-5 {
  width: 59px;
}

.icon-logo-6 {
  width: 88.5px;
}

.icon-logo {
  fill: currentColor;
}
