.wrap-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $secondary-bck-color;
}

.footer-flexbox {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.footer-address {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.grid-contacts .link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color $transition;
  transition: color $transition;
}

.grid-contacts .link:hover,
.grid-contacts .link:focus {
  color: $accent-blue-color;
}

.logo-footer-marg {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;
  padding: 0;
}

.address-marg {
  margin-bottom: 9px;
  margin-top: 0;
}

.address {
  line-height: 1.46;
}

.call-to-action {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.social-link-footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-link-footer .social__icon {
  fill: $accent-white-color;
}

.sec-action {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
