.action-mail {
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: $secondary-bck-color;
  color: $accent-rgba-color;

  @media screen and (max-width: 479px) {
    width: 100%;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (max-width: 1199px) {
    display: block;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.action-mail::-webkit-input-placeholder {
  color: $accent-rgba-color;
}

.action-mail:-ms-input-placeholder {
  color: $accent-rgba-color;
}

.action-mail::-ms-input-placeholder {
  color: $accent-rgba-color;
}

.action-mail::placeholder {
  color: $accent-rgba-color;
}

.icon-telegramm {
  fill: $accent-white-color;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
}

.btn-footer {
  padding-left: 28px;
  padding-right: 29px;
  margin-left: 12px;

  @include for-size(desktop) {
    margin-left: 12px;
  }
}
