
.contasts__icon--post {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }
  
  .contacts__icon--tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
  }
  