.wrap-why-we {
    padding-top: 94px;
  }
  
  .wrap-about-us,
  .wrap-our-team,
  .wrap-regular-costumers,
  .wrap-my-project {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .wrap-our-team {
    background-color: #f5f4fa;
  }